<template>
    <div class="LoginPage__root-grid">
        <MessageBox id="login"/>
        <MessageBox id="error" />
        <div class="LoginPage__input-fields-group">
            <InputField id="loginField"/>
            <InputField id="passwordField" type="password"/>
            <InputField id="domainField"/>
        </div>
        <center><ControlButton id="login" /></center>
        <WaitScreen />
    </div>
</template>
<script>
    import MessageBox from "./NewClient/MessageBox";
    import InputField from "./NewClient/InputField";
    import ControlButton from "./NewClient/ControlButton";
    import WaitScreen from "./NewClient/WaitScreen";

    export default {
        name: "LoginPage",
        components: {WaitScreen, ControlButton, InputField, MessageBox},
    }
</script>

<style scoped>
  .LoginPage__root-grid {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
  }
    .LoginPage__input-fields-group {
        margin: 0 50px 0 50px;

    }
</style>
