<template>
    <div class="StartPage__root-grid">
        <MessageBox id="newClient"/>
        <MessageBox id="error" />
        <div class="StartPage__bio-inputs__grid">
            <div class="StartPage__bio-inputs__half-screen">
                <InputField id="lastName"/>
                <InputField id="firstName"/>
                <InputField id="fatherName"/>
            </div>
            <div class="StartPage__bio-inputs__half-screen">
                <InputField id="birthday"/>
                <InputField id="phoneNumber"/>
                <InputField id="cardNumber"/>
                <InputField id="smsCode" disabled="true"/>
            </div>
        </div>
        <ControlPanel/>
        <WaitScreen/>
    </div>
</template>

<script>
    import MessageBox from "./NewClient/MessageBox";
    import InputField from "./NewClient/InputField";
    import ControlPanel from "./NewClient/ControlPanel";
    import WaitScreen from "./NewClient/WaitScreen"

    export default {
        name: "NewClient",
        components: {ControlPanel, InputField, MessageBox, WaitScreen},
    }
</script>

<style scoped>
    .StartPage__root-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100vh;
    }

    .StartPage__bio-inputs__grid {
        display: flex;
        flex-direction: row;
        /*margin-bottom: 10px;*/
    }

    .StartPage__bio-inputs__half-screen {
        width: 50%;
    }
</style>
