<template>
    <div class="ControlPanel__root-grid">
        <div class="ControlPanel__button-group">
            <ControlButton id="reset"/>
            <ControlButton id="reprint"/>
            <ControlButton id="print"/>
            <ControlButton id="send"/>
            <ControlButton id="resend"/>
            <ControlButton id="checkSmsStatus"/>
            <ControlButton id="checkCodeFromSms"/>
            <ControlButton id="write"/>
        </div>
    </div>
</template>

<script>
    import ControlButton from "./ControlButton";
    export default {
        name: "ControlPanel",
        components: {ControlButton},
    }
</script>

<style scoped>
    .ControlPanel__root-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }

    .ControlPanel__button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
</style>
