<template>
    <div>
        <button
                @click="click"
                class="ControlButton__normal"
                v-bind:class="{
                    ControlButton__disabled : !buttonEnabled,
                    ControlButton__red: isRedButton
                }"
        >
            {{buttonTitle}}
        </button>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import validator from '../../lib/validators';
    import sms from '../../lib/sms';
    import helpers from '../../lib/helpers';
    import printer from '../../lib/printer';
    import queries from '../../odata';

    export default {
        name: "ControlButton",
        props: ['id'],
        computed: {
            ...mapGetters([
                'buttonById', 'biometryFormData',
                'inputFieldById', 'smsResponse',
                'validationPair', 'connectionData',
            ]),

            buttonTitle: function () {
                return this.buttonById(this.id).title
            },
            buttonEnabled: function () {
                return this.buttonById(this.id).enabled
            },
            isRedButton: function () {
                return this.buttonById(this.id).isRedButton
            },

        },
        methods: {
            ...mapActions({
                updateAuthData: 'doUpdateAuthData',
                resetForm: 'doResetForm',
                lockNewClientForm: 'doLockNewClientForm',
                generateValidationCode: 'doGenerateValidationCode',
                updateNewClientError: 'doUpdateInputFieldValidationError',
                updateLoginError: 'doUpdateLoginError',
                lockLoginForm: 'doLockLoginForm',
                unlockLoginForm: 'doUnlockLoginForm',
                cleanError: 'doCleanError',
                updateSmsResponse: 'doUpdateSmsResponse',
                lockNewClientBeforePrint:'doLockNewClientBeforePrint',
                lockNewClientBeforeWrite:'doLockNewClientBeforeWrite',
                capitalizeFIO: 'doCapitalizeFIO',
                showSplashScreen: 'doShowSplashScreen'
            }),

            click: function (e) {
                e.preventDefault();
                this.cleanError();
                switch (this.id) {
                    case "login": {
                        this.lockLoginForm();
                        this.updateAuthData()
                            .then(() => {
                                this.cleanError();
                                this.$router.push('/new');
                                this.showSplashScreen(false);
                            })
                            .catch(() => {
                                this.unlockLoginForm();
                                this.updateLoginError()
                            });
                        break;
                    }
                    case "reset": {
                        this.resetForm();
                        break;
                    }
                    case "send":
                    case "resend": {
                        validator.validateForm(this.biometryFormData)
                            .then(this.lockNewClientForm)
                            .then(this.generateValidationCode)
                            .then(sms.sendSms)
                            .then(this.updateSmsResponse)
                            .then(helpers.sleep)
                            .then(sms.checkStatus)
                            .catch(this.updateNewClientError);

                        break;
                    }
                    case "checkSmsStatus": {
                        sms.checkStatus(this.smsResponse);
                        break;
                    }
                    case "checkCodeFromSms": {
                        validator.validateSms(this.validationPair)
                            .then(this.lockNewClientBeforePrint)
                            .catch(this.updateNewClientError);
                        break;
                    }
                    case "reprint":
                    case "print":{
                        this.lockNewClientBeforeWrite();
                        this.capitalizeFIO();
                        printer.printPaper(this.biometryFormData)
                            .then(this.lockNewClientBeforeWrite)
                            .catch(err => console.log(err));
                        break;
                    }
                    case "write": {
                        this.showSplashScreen(true);
                        queries.writeBiometryToDatabase(
                            this.biometryFormData,
                            this.connectionData,
                        ).then(()=> {
                            new Notification('Успешно', {body: 'Клиент сохранен в базу данных 1с'});
                            this.resetForm();
                            this.showSplashScreen(false);
                        }).catch(() => {
                            this.showSplashScreen(false);
                        })
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .ControlButton__normal {

        min-width: 100px;
        height: 35px;
        border: 1px solid black;
        box-sizing: border-box;
        box-shadow: 3px 3px 6px black;
        background-color: #4fc08d;
        padding: 0 15px 0 15px;
        font-size: 18px;
        margin: 5px;
    }

    .ControlButton__normal:hover {
        transform: scale(1.03);
        cursor: pointer;
    }

    .ControlButton__normal:active {
        transform: scale(1);
    }

    .ControlButton__red {
        background-color: rgba(178, 34, 34, 0.82);
        /*border-radius: 5px;*/
        /*transform: scale(0.9);*/
    }

    .ControlButton__disabled {
        /*visibility: hidden;*/
        display: none;
        margin: 0;
        padding: 0;
    }
</style>
