<template>
    <div class="InputField__container" v-bind:class="{InputField_disabled: !inputFieldIsEnabled}">
        <span class="InputField__title">{{title}}</span>
        <input
                :value="value"
                @input="updateValue"
                class="InputField__input"
                v-bind:type="type"
                v-bind:disabled="!inputFieldIsEnabled"
                v-bind:placeholder="placeholder"
        />
    </div>
</template>

<script>

    import {mapActions, mapGetters, mapState} from "vuex";

    export default {
        name: "InputField",
        props: ['id', 'type'],
        computed: {
            ...mapState({
                value: function (state) {
                    return state.store.inputFields[this.id].value
                }
            }),
            ...mapGetters(['inputFieldById']),
            title: function () {
                return this.inputFieldById(this.id).title
            },
            inputFieldIsEnabled: function() {
                return this.inputFieldById(this.id).enabled
            },
            placeholder: function () {
                return this.inputFieldById(this.id).placeholder
            }
        },
        methods: {
            ...mapActions({
                update: 'doUpdateInputFieldValue'
            }),
            updateValue(e) {
                this.update({
                    value: e.target.value,
                    id: this.id
                })
            }
        }
    }
</script>

<style scoped>

    .InputField__container {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .InputField__title {
        font-size: 20px;
        /*box-sizing: border-box;*/
        border: 3px solid rgba(201, 246, 255, 0.11);
        background-color: rgba(38, 113, 203, 0.51);
        padding: 3px 3px 3px 15px;
    }

    .InputField__input {
        font-size: 18px;
        padding: 3px;
        margin: 0 5px 0 5px;
    }

    .InputField_disabled {
        /*visibility: hidden;*/
        opacity: 0.5;
    }
</style>
