<template>
    <div class="StartPage__message-box"
        v-bind:class="{
            StartPage__errorBox: id === 'error',
            StartPage__errorBox_hasError: validationError
        }"
    >
        <div class="StartPage__message-box__vertical-align">
            <b>{{message}}</b>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "MessageBox",
        props: ['id'],
        computed: {
            ...mapGetters(['validationError', 'messageBoxById']),
            message: function () {
                return this.messageBoxById(this.id).message
            }
        }
    }
</script>

<style scoped>
    .StartPage__message-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50px;
        margin: 10px;
        padding: 5px;
        background-color: rgba(111, 152, 45, 0.33);
    }

    .StartPage__message-box__vertical-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .StartPage__message-box__vertical-align > b {
        font-size: 30px;
    }
    .StartPage__errorBox {
        background-color: rgba(195, 0, 25, 0.33);
        /*border: 1px solid black;*/
        /*box-shadow: 0 0 15px rgba(255, 0, 0, 0.76);*/
        transform: scale(0.8);
        visibility: hidden;
    }
    .StartPage__errorBox_hasError {
        visibility: visible;

    }
</style>
