<template>
    <div class="WaitScreen_Root" v-bind:class="{WaitScreen_Show: !splashStatus}">
        <div class="WaitScreen_center">
            <h1>Обрабатывается запрос</h1>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "WaitScreen",
        computed: {
            ...mapGetters(["splashStatus"])
        }
    }
</script>

<style scoped>
    .WaitScreen_Root {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.82);
    }

    .WaitScreen_Show {
        display: none;
    }

    .WaitScreen_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .WaitScreen_center > h1 {
        text-align: center;
        color: rgba(0, 0, 0, 0.68);
        /*text-shadow: 1px 1px black;*/
        margin: 30px;
        padding: 10px;
        background-color: rgba(255,255,255,0.71);
        border-radius: 4px;
    }
</style>
