<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'walkit-flytrap',
    mounted: function () {
      // сбрасывает состояние приложения
      this.$store.dispatch('doResetForm').then(res => {
        console.log(res)
      });
      this.$store.dispatch('doResetConnection').then(res => {
        console.log(res)
      });
    }
  }
</script>

<style>
  /* CSS */

</style>
